.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea*
*.iml
*.swp
*.swo
*.apk
.idea/*
app/.idea/*
app/gradle/
app/gradlew
app/gradlew.bat
app/local.properties
